// font 

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap'); 

$font-family: 'Lato', 'open-sans';

$font-weight-regular: 400;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-size-small: 13px;
$font-size-regular: 15px;
$font-size-medium: 22px;

$font-size-small-title: 27px;
$font-size-medium-title: 30px;
$font-size-large-title: 36px;
$font-size-extra-large-title: 60px;

$line-height-regular: 24px;
$line-height-medium: 48px;
$line-height-large: 72px;

// colors
$color-primary: #242f51;
$color-secondary: #ff6c40;
$color-tertiary: #535353;
$color-success: #40975f; 
$color-gray: #a4a4a4;
$color-white: #fff;
$color-black:#000000;

