
@import "_variables";
@import "media";

.navTitle{

    font-size: $font-size-regular;

    color:$color-gray;
    font-family: $font-family;
    line-height: 0px;

    
    font-weight: $font-weight-bold;


}

.nav-link{
    &:hover{
        color:$color-secondary
    }

}
.navbar-brand{
    font-size: $font-size-small-title;
    font-weight: $font-weight-bold;
    color: $color-black;
    line-height: 0px;
    letter-spacing: -2px;
}
.Title{
    font-size: $font-size-medium;
    font-weight: $font-weight-semiBold;
    font-family: $font-family;
}
.sep{
    width: 30%;
}
.description{
    font-size: $font-size-regular;
    font-weight: $font-weight-regular;
    font-family: $font-family;
    line-height: $line-height-regular;
    color: $color-tertiary;
    
}
.button{
    color: $color-secondary;
    outline: 1px;
    outline-color: $color-secondary;
    outline-style: solid;
    font-size: $font-size-small;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  
}
.tag{
    font-size: $font-size-small;
  color: $color-tertiary;
    font-weight: $font-weight-bold;
}
.btnprev{
    @extend .button;
    background-color: black;
    outline: none;
    color: white;
}